$primary-color: rgb(20, 21, 71);
$secondary-color: blue;
$text-color: white;
$success-color: rgb(13, 146, 13);
$warning-color: rgb(173, 173, 23);
$error-color: rgb(202, 16, 16);

$radius: 7px;

$padding-x: 5px;
$padding-y: 10px;

$margin-x: 5px;
$margin-y: 10px;
